@model bFit.Web.Models.CreateTownViewModel

@{
    ViewData["Title"] = "Ciudad";
}

<partial name="Controls/_Header" />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" asp-items="@Model.Countries" class="form-control"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="StateId" class="control-label"></label>
            <select disabled asp-for="StateId" asp-items="@Model.States" class="form-control"></select>
            <span asp-validation-for="StateId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="CountyId" class="control-label"></label>
            <select disabled asp-for="CountyId" asp-items="@Model.Counties" class="form-control"></select>
            <span asp-validation-for="CountyId" class="text-danger"></span>
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label asp-for="DistrictId" class="control-label"></label>
            <select disabled asp-for="DistrictId" asp-items="@Model.Districts" class="form-control"></select>
            <span asp-validation-for="DistrictId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input disabled asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">
        <partial name="Controls/_BtnSubmit" />
        <partial name="Controls/_BtnBack" />
    </div>
</form>
<partial name="Controls/_Footer" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/get_states.js"></script>
    <script src="~/js/get_counties.js"></script>
    <script src="~/js/get_districts.js"></script>
}