@model bFit.Web.Models.CreateStateViewModel

@{
    ViewData["Title"] = "Provincia";
}

<partial name="Controls/_Header" />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" asp-items="@Model.Countries" class="form-control"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <partial name="Controls/_BtnSubmit" />
        <partial name="Controls/_BtnBack" />
    </div>
</form>
<partial name="Controls/_Footer" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
