@model bFit.Web.Data.Entities.Profiles.Franchise

@{
    ViewData["Title"] = "Franquicia";
}

    <partial name="Controls/_Header" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LegalId" class="control-label"></label>
                <input asp-for="LegalId" class="form-control" />
                <span asp-validation-for="LegalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredName" class="control-label"></label>
                <input asp-for="RegisteredName" class="form-control" />
                <span asp-validation-for="RegisteredName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeName" class="control-label"></label>
                <input asp-for="TradeName" class="form-control" />
                <span asp-validation-for="TradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <partial name="Controls/_Footer" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
