<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bFit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootswatch.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/dataTables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/dataTables/responsive.bootstrap4.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Admin"))
                            {
                                <partial name="NavBars/_Generals" />

                                <partial name="NavBars/_Profiles" />

                                <partial name="NavBars/_WorkoutRoutines" />

                                <partial name="NavBars/_DataTakes" />
                            }
                            else if (User.IsInRole("FranchiseAdmin"))
                            {
                                <partial name="NavBars/_ProfilesFranchisesAdmin" />

                                <partial name="NavBars/_WorkoutRoutines" />

                                <partial name="NavBars/_DataTakes" />
                            }
                            else if (User.IsInRole("GymAdmin"))
                            {
                                <partial name="NavBars/_ProfilesGymAdmin" />

                                <partial name="NavBars/_WorkoutRoutines" />

                                <partial name="NavBars/_DataTakes" />
                            }
                            else if (User.IsInRole("Trainer"))
                            {
                                <partial name="NavBars/_WorkoutRoutines" />

                                <partial name="NavBars/_DataTakes" />
                            }
                            else
                            {

                            }
                        </ul>
                    </div>
                }
                <div class="nav navbar-nav justify-content-end">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="ChangeUser" class="nav-link">@User.Identity.Name</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">Salir</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Ingresar</a></li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - bFit
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/dataTables/dataTables.responsive.min.js"></script>
    <script src="~/lib/dataTables/responsive.bootstrap4.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>