@model bFit.Web.Models.FranchiseAdminViewModel

@{
    ViewData["Title"] = "Editar administrador de franquicia";
    ViewData["BackAction"] = "Details";
}

<partial name="Controls/_Header" />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <partial name="_User" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="FranchiseId" class="control-label"></label>
            <select asp-for="FranchiseId" asp-items="@Model.Franchises" class="form-control"></select>
            <span asp-validation-for="FranchiseId" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group">
            <partial name="Controls/_BtnSubmit" />
            <partial name="Controls/_BtnBackWithID" model="@Model" />
        </div>
</form>
<partial name="Controls/_Footer" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}