<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Historial</a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item nav-link" asp-area="" asp-controller="DataTakes" asp-action="Index">Listado</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="DataTakes" asp-action="Create">Nueva toma de datos</a>
    </div>
</li>