<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Generales</a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Countries" asp-action="Index">Países</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="States" asp-action="Index">Provincias</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Counties" asp-action="Index">Cantones</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Districts" asp-action="Index">Distritos</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Towns" asp-action="Index">Ciudades</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Genders" asp-action="Index">Géneros</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="ObesityLevels" asp-action="Index">Niveles de obesidad</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Goals" asp-action="Index">Metas</a>
    </div>
</li>