<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfiles</a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item nav-link" asp-area="" asp-controller="LocalGyms" asp-action="Index">Gimnasios</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="GymAdmins" asp-action="Index">Administradores de gimnasio</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Trainers" asp-action="Index">Entrenadores</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Customers" asp-action="Index">Clientes</a>
    </div>
</li>