<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rutinas</a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item nav-link" asp-area="" asp-controller="ExerciseTypes" asp-action="Index">Tipos de ejercicio</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Exercises" asp-action="Index">Ejercicios</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="SetTypes" asp-action="Index">Tipos de sets</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="SubSets" asp-action="Index">SubSets</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Sets" asp-action="Index">Sets</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="WorkoutRoutines" asp-action="Index">Rutinas de entrenamiento</a>
    </div>
</li>