<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rutinas</a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item nav-link" asp-area="" asp-controller="ExerciseTypes" asp-action="Index">Tipos de ejercicio</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Exercises" asp-action="Index">Ejercicios</a>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="SubSetTypes" asp-action="Index">Modalidad de ejercicio</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Templates" asp-action="Index">Plantillas de entrenamiento</a>
    </div>
</li>