@model IEnumerable<bFit.Web.Data.Entities.Common.County>

@{
    ViewData["Title"] = "Cantones";
}

<partial name="Controls/_HeaderTable" />
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <partial name="Controls/_BtnEditNoText" model="item" />
                                    <partial name="Controls/_BtnDetails" model="item" />
                                    <partial name="Controls/_BtnDelete" model="item" />
                                </td>
                            </tr>
                        }
                    </tbody>
<partial name="Controls/_FooterTable" />