@model IEnumerable<bFit.WEB.Data.Entities.Common.County>

@{
    ViewData["Title"] = "Index";
}

<h1>Cantones</h1>

<partial name="Controls/_BtnNew" />

<table class="table table-striped table-bordered table-hover" id="data_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <partial name="Controls/_BtnEdit" model="item" />
                    <partial name="Controls/_BtnDetails" model="item" />
                    <partial name="Controls/_BtnDelete" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
