@model IEnumerable<bFit.WEB.Data.Entities.Common.County>

@{
    ViewData["Title"] = "Cantones";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">

                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><h3 class="card-title">Cantones</h3></li>
                    <partial name="Controls/_BtnNew" />
                </ul>

            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered table-hover" id="data_table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <partial name="Controls/_BtnEdit" model="item" />
                                    <partial name="Controls/_BtnDetails" model="item" />
                                    <partial name="Controls/_BtnDelete" model="item" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



