@model bFit.WEB.Data.Entities.Workouts.WorkoutRoutine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WorkoutRoutine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Begins" class="control-label"></label>
                <input asp-for="Begins" class="form-control" />
                <span asp-validation-for="Begins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ends" class="control-label"></label>
                <input asp-for="Ends" class="form-control" />
                <span asp-validation-for="Ends" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
