@model IEnumerable<bFit.Web.Data.Entities.Workouts.Goal>

@{
    ViewData["Title"] = "Metas";
    ViewData["EditAction"] = "Edit";
}

<partial name="Controls/_HeaderTable" />
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <partial name="Controls/_BtnEditNoText" view-data="ViewData" model="item" />
                <partial name="Controls/_BtnDelete" model="item" />
            </td>
        </tr>
    }
</tbody>
<partial name="Controls/_FooterTable" />
